body {
    background-color: beige;
    margin: 0rem auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main+header {
    max-width: 600px;
    text-align: center;
}
/* header {
    max-width: 600px;
} */
p {
    max-width: 600px;
    /* text-align: center; */
}
h1 {
text-shadow: 2px 2px 6px;
font-size: 40px;
background-color: white;
margin:
}